<h3><%= fa_icon "signal", text: "Indicators, Signals and Rules" %></h3>
<form class="form-horizontal" role="form">
  <%= render 'signals/signal' %>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <select class="form-control input-sm">
        <option></option>
        <option>AND</option>
        <option>OR</option>
      </select>
    </div>
    <div class="col-md-5"></div>
  </div>
  <%= render 'signals/signal' %>
  <div class="row">
    <div id="backtestButtonContainer" class="pull-right">
      <button type="button" class="btn btn-primary">
        <%= fa_icon "save", text: "Save" %>
      </button>
      <button type="button" id="btnRunBacktest" class="btn btn-success">
        <%= fa_icon "play", text: "Run Backtest" %>
      </button>
    </div>
  </div>
</form>
