<div class="sidebarButtons">
  <button type="button" class="btn btn-primary">
    <%= fa_icon "edit", text: "Create New Post" %>
  </button>
  <button type="button" class="btn btn-warning">
    <%= fa_icon "dollar", text: "Sell Your Strategy" %>
  </button>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "thumbs-up", text: "Top Posts" %></h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>1. <%= image_tag '32x32.gif', alt: 'avatar' %> Top 10 Technical Indicators</li>
      <li>2. <%= image_tag '32x32.gif', alt: 'avatar' %> Analyse Company Share Buyback</li>
      <li>3. <%= image_tag '32x32.gif', alt: 'avatar' %> How will US Fiscal Cliff Affect SGX Securities?</li>
      <li>4. <%= image_tag '32x32.gif', alt: 'avatar' %> Top 10 Tips to Optimising Your Portfolio</li>
      <li>5. <%= image_tag '32x32.gif', alt: 'avatar' %> Option and Futures Algorithmic Trading Basics</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "dollar", text: "Top Paid Strategies" %></h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>1. <%= image_tag '32x32.gif', alt: 'avatar' %> Moving Momentum</li>
      <li>2. <%= image_tag '32x32.gif', alt: 'avatar' %> Predict Price Change with Poisson Distribution</li>
      <li>3. <%= image_tag '32x32.gif', alt: 'avatar' %> Buying and Selling based on Latest News</li>
      <li>4. <%= image_tag '32x32.gif', alt: 'avatar' %> Portfolio Optimization with Sortino Ratio and CVaR</li>
      <li>5. <%= image_tag '32x32.gif', alt: 'avatar' %> MACD and Stochastic Double-Cross Strategy</li>
    </ul>
  </div>
</div>
