<div class="row">
  <div class="col-md-4">
    <%= render 'form' %>
  </div>
  <div class="col-md-8">
    <%= render 'signals/form' %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4" style="margin-right: 0px; padding-right: 0px;">
    <div id="backtestProgressBarContainer" class="progress progress-striped active">
      <div id="backtestProgressBar" class="progress-bar" role="progressbar"></div>
    </div>
  </div>
  <div class="col-md-4" style="margin-left: 0px; padding-left: 0px;">
    <span id="backtestProgressPercentage" class="pull-left">0%</span>
  </div>
</div>
<div class="row" style="margin-top: 0px;">
  <div id="backtestingChartThrobber" class="throb-group">
    <i class="icon-sign-blank icon-throb"></i>
    <i class="icon-sign-blank icon-throb"></i>
    <i class="icon-sign-blank icon-throb"></i>
  </div>
  <div id="backtestingChartContainer" style="height: 600px; min-width: 500px"></div>
</div>

<%= javascript_tag do %>
  <% { adj_close: @adj_close, ind1: @ind1, ind2: @ind2, volume: @volume, position_fill: @position_fill }.each do |k, v| %>
    $("#backtestingChartContainer").data('<%= k.to_s %>', [
      <%= raw (v||[]).map { |x| "[Date.UTC(#{x[:datetime].year}, #{x[:datetime].month - 1}, #{x[:datetime].day}), #{x[:value]}]" }.join(',') %>
    ]);
  <% end %>
<% end %>
